footer {
    position: relative;
    bottom: 0px;
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid;
    color: #cccccc;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #484848;
}